.header {
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  width: 80%;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-left: 2rem;
  font-weight: 500;
}

.menuBar {
  font-size: 1.5rem;
  display: none;
}

.dropdownMenu {
  display: none;
  right: 2rem;
  top: 40px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 1rem;
  width: unset;
  margin: 0 10px 10px 10px;
}

.dropdownMenu li {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
}

.dropdownMenu li .link {
  margin-left: 0;
}

/* Mobile */
@media all and (max-width: 500px) {
  .header {
    padding: 0;
    margin: 0;
  }

  .logo {
    margin: 0;
    width: 30%;
  }

  .links {
    display: none;
  }

  .dropdownMenu {
    display: block;
  }

  .menuBar {
    display: block;
    margin: 0 1rem 0.5rem 0;
  }
}

/* Mobile */
@media all and (max-width: 400px) {
  .menuBar {
    margin: 0 0.5rem 0.5rem 0;
  }
}
