.newsletter {
  margin-top: 3rem;
  background: #000;
  height: 100vh;
  color: #fff;
  padding: 30px;
}

.newsletterGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.newsletterContent .content {
  margin-right: 30px;
}

.newsletterContent h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3rem;
}

.newsletterH3 {
  font-size: 35px;
  font-weight: 900;
  margin-top: 1rem;
}

.newsletterH5 {
  color: var(--Rumoney-Black-40, #696969);
  font-weight: 600;
  margin-top: 2rem;
  font-size: 14px;
}

.newsletterForm .inputs {
  display: inline-flex;
}

.newsletterForm .inputBox h6 {
  font-size: small;
}

.newsletterForm input {
  border: 1px solid var(--Rumoney-Black-20, #b4b4b4);
  padding: 0.5rem 1rem;
  width: 12rem;
  background: transparent;
  margin-right: 0.5rem;
}

.newsletterForm input:focus {
  border: #fff;
}

.newsletterForm button {
  margin-top: 1rem;
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  width: 24.5rem;
  font-size: small;
}

.newsletterForm input::placeholder {
  color: var(--Rumoney-Black-20, #b4b4b4);
  font-size: small;
  font-style: normal;
  font-weight: 400;
}

.newsletterContent {
  height: 90vh;
  position: relative;
}

.newsletterItemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.newsletterItemImage:hover {
  opacity: 0.7;
  cursor: pointer;
}
